.image-books{
    width: 150px;
    height: 150px;
}

.testimonial h5{
    font-size: 20px;
}

.testimonial p{
    font-size: 13px;
}

.modal-body{
    padding-bottom: 158px;
    
}
.author img{
    width: 200px;
    height: 200px;
}

#my-row{
    margin-bottom: 50px
}
