<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous">
<div id="author" class="section">
  <div class="container">
    <div class="section-title">
      <h4>Book</h4>
      <div class="divider"></div>
    </div>
    <div class="row" id="my-row" *ngFor="let item of data">
      <div class="col-sm-6 col-md-6" >
        <div class="author">
          <h5>{{item.author}}</h5>
          <p>{{item.title}}</p>
          <div class="col-xs-12 col-md-6">
            <p class="lead">
              Quantity: {{item.quantity}}
            </p>
          </div>
          <div class="col-xs-12 col-md-6">
            <p class="lead">
               Price: {{item.price}}
            </p>
          </div>
          <ul>
            <li>
              <a href="/details/{{item.id}}">
                <i class="fas fa-user-plus"></i>
              </a>
            </li>
            <li>
              <a href="/books/{{item.id}}">
              <i class="fas fa-edit"></i>
              </a>
            </li>
            <li>
              <button (click)="delete(item.id)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="author">
          <img src="http://localhost:3000{{item.image}}" alt="rhymastic">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div id="testimonial" class="section">
  <div class="container">
    <div class="section-title">
      <h4>Testimonial</h4>
      <div class="divider"></div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6" *ngFor="let item of data">
        <div class="testimonial">
          <img src="http://localhost:3000{{item.image}}" alt="" class="image-books">
          <h5> {{item.author}}</h5>
          <p>{{item.title}}</p>
          
          <div class="col-xs-12 col-md-4">
            <a href="/details/{{item.id}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Detail Book</a>
          </div>
          <div class="col-xs-12 col-md-4">
            <a href="/books/{{item.id}}" class="btn btn-default btn-lg active" role="button" aria-pressed="true">Edit Book</a>
          </div>
          <button (click)="delete(item.id)">delete</button>
          <div class="col-xs-12 col-md-4">
            <p class="lead">
              Quantity: {{item.quantity}}
            </p>
          </div>
          <div class="col-xs-12 col-md-4">
            <p class="lead">
              Price: {{item.price}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
