<div id="fakeLoader"></div>
<!-- end loader -->

<!-- header -->
<header>
	<!-- navbar -->
	<nav class="navbar navbar-default navbar-eb">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
					<span class="sr-only"></span>
					<i class="fa fa-bars"></i>
				</button>
				<a href="" class="navbar-brand">
					<h1>
						<span>E</span>book</h1>
				</a>
			</div>
			<div class="collapse navbar-collapse n-link" id="bs-navbar">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="#features">Features</a>
					</li>
					<li>
						<a href="#pricing">Pricing</a>
					</li>
					<li>
						<a href="#author">Author</a>
					</li>
					<li>
						<a href="#testimonial">Testimonial</a>
					</li>
					<li>
						<a href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- end navbar -->

	<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-5">
					<div class="banner-content2">
						<img src="img/book.jpg" alt="" class="img-responsive">
					</div>
				</div>
				<div class="col-md-7 col-sm-7">
					<div class="banner-content">
						<h1>EBOOK BUSINESS SUCCES</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum doloremque autem quasi perferendis tempora nisi cum
							accusamus asperiores aspernatur laudantium quod alias nobis libero illo rerum, eaque dolores nihil nemo.</p>
						<ul>
							<li>
								<a href="">Learn More</a>
							</li>
							<li>
								<a href="">Buy Now</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end banner -->

</header>
<!-- end header -->

<!-- features -->
<div id="features" class="section">
	<div class="container">
		<div class="section-title">
			<h4>Ebook Features</h4>
			<div class="divider"></div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<div class="features">
					<i class="fa fa-laptop"></i>
					<h5>Responsive Reading</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit error ipsa, vitae blanditiis</p>
				</div>
			</div>
			<div class="col-sm-4 col-md-4">
				<div class="features">
					<i class="fa fa-bookmark"></i>
					<h5>Bookmark</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit error ipsa, vitae blanditiis</p>
				</div>
			</div>
			<div class="col-sm-4 col-md-4">
				<div class="features">
					<i class="fa fa-send"></i>
					<h5>Lifetime Update</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit error ipsa, vitae blanditiis</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<div class="features">
					<i class="fa fa-mobile"></i>
					<h5>Mobile Support</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit error ipsa, vitae blanditiis</p>
				</div>
			</div>
			<div class="col-sm-4 col-md-4">
				<div class="features">
					<i class="fa fa-desktop"></i>
					<h5>Desktop Support</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit error ipsa, vitae blanditiis</p>
				</div>
			</div>
			<div class="col-sm-4 col-md-4">
				<div class="features">
					<i class="fa fa-eye"></i>
					<h5>Retina Ready</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit error ipsa, vitae blanditiis</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end features -->


<!-- pricing -->
<div id="pricing" class="section">
	<div class="container">
		<div class="section-title">
			<h4>Pricing</h4>
			<div class="divider"></div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="pricing">
					<h5>Basic</h5>
					<span>$10</span>
					<ul>
						<li>Read Online</li>
						<li>Mobile Support</li>
						<li>Desktop support</li>
						<li>Download</li>
						<li>Update Ebook</li>
						<li>and many more</li>
					</ul>
					<a class="button" href="">Buy Now</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="pricing">
					<h5>Standard</h5>
					<span>$23</span>
					<ul>
						<li>Read Online</li>
						<li>Mobile Support</li>
						<li>Desktop support</li>
						<li>Download</li>
						<li>Update Ebook</li>
						<li>and many more</li>
					</ul>
					<a class="button" href="">Buy Now</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="pricing">
					<h5>Premium</h5>
					<span>$45</span>
					<ul>
						<li>Read Online</li>
						<li>Mobile Support</li>
						<li>Desktop support</li>
						<li>Download</li>
						<li>Update Ebook</li>
						<li>and many more</li>
					</ul>
					<a class="button" href="">Buy Now</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end pricing -->

<!-- author -->
<div id="author" class="section">
	<div class="container">
		<div class="section-title">
			<h4>Author</h4>
			<div class="divider"></div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<div class="author">
					<h5>John Doe</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi facilis earum, odio sapiente eveniet, deserunt sint vitae
						mollitia corporis qui, commodi quisquam in voluptas eligendi provident. Quos distinctio, aspernatur eaque! Lorem ipsum
						dolor sit amet, consectetur adipisicing elit. Omnis sunt laudantium, aliquid ad eveniet facilis! Aliquam placeat impedit
						illum a sed, accusamus amet cupiditate, provident, fuga unde dolore vel explicabo. placeat impedit illum a sed, accusamus
						amet cupiditate, provident, fuga unde dolore vel explicabo. </p>
					<ul>
						<li>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-google"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="author">
					<img src="img/about.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end author -->

<!-- testimonial -->
<div id="testimonial" class="section">
	<div class="container">
		<div class="section-title">
			<h4>Testimonial</h4>
			<div class="divider"></div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="testimonial">
					<img src="img/testimonial1.jpg" alt="">
					<h5>Alfred</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta a illo laboriosam, voluptatem rerum asperiores odio
						officiis! Impedit est quaerat, tempore. Ex eligendi quae, unde ducimus natus obcaecati illum ipsum!</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="testimonial">
					<img src="img/testimonial2.jpg" alt="">
					<h5>Muller</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta a illo laboriosam, voluptatem rerum asperiores odio
						officiis! Impedit est quaerat, tempore. Ex eligendi quae, unde ducimus natus obcaecati illum ipsum!</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="testimonial">
					<img src="img/testimonial3.jpg" alt="">
					<h5>Paul Doe</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta a illo laboriosam, voluptatem rerum asperiores odio
						officiis! Impedit est quaerat, tempore. Ex eligendi quae, unde ducimus natus obcaecati illum ipsum!</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="testimonial">
					<img src="img/testimonial4.jpg" alt="">
					<h5>Donald</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta a illo laboriosam, voluptatem rerum asperiores odio
						officiis! Impedit est quaerat, tempore. Ex eligendi quae, unde ducimus natus obcaecati illum ipsum!</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end testimonial -->

<!-- contact -->
<div id="contact" class="section">
	<div class="container">
		<div class="section-title">
			<h4>Send Us A Message</h4>
			<div class="divider"></div>
		</div>
		<form>
			<div class="row">
				<div class="col-md-4 col-md-4">
					<div class="contact">
						<div class="form-group">
							<input type="text" placeholder="Name">
						</div>
					</div>
				</div>
				<div class="col-md-4 col-md-4">
					<div class="contact">
						<div class="form-group">
							<input type="email" placeholder="Email">
						</div>
					</div>
				</div>
				<div class="col-md-4 col-md-4">
					<div class="contact">
						<div class="form-group">
							<input type="text" placeholder="Subject">
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="contact">
					<div class="form-group">
						<textarea cols="30" rows="10" placeholder="Your Message"></textarea>
					</div>
					<div class="form-group">
						<button class="btn button-default" type="button">Send Message</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end contact -->

<!-- footer -->
<footer class="section">
	<div class="container">
		<ul>
			<li>
				<a href="">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-linkedin"></i>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-google"></i>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-instagram"></i>
				</a>
			</li>
		</ul>
	</div>
</footer>
<!-- end footer -->

<!-- scroll to top -->
<div class="toTop">
	<a href="#top" id="toTop">
		<i class="fa fa-arrow-circle-up"></i>
	</a>
</div>