<header>
  <nav class="navbar navbar-default navbar-eb">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
          <span class="sr-only"></span>
          <i class="fa fa-bars"></i>
        </button>
        <a href="" class="navbar-brand">
          <h1>
            <span>E</span>book</h1>
        </a>
      </div>
      <div class="collapse navbar-collapse n-link" id="bs-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="index.html">Home</a>
          </li>

          <li *ngIf="!token">
            <a routerLink="/login">Login</a>
          </li>
          <li>
            <a routerLink="/register">Register</a>
          </li>
          <li>
            <a routerLink="/books">Add books</a>
          </li>
          <li>
            <a *ngIf="token" routerLink="/logout">Logout</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
</header>