<div id="fakeLoader"></div>
<app-header></app-header>
<app-book></app-book>
<footer class="section">
	<div class="container">
		<ul>
			<li>
				<a href="">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-linkedin"></i>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-google"></i>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-instagram"></i>
				</a>
			</li>
		</ul>


	</div>
</footer>
<div class="toTop">
	<a href="#top" id="toTop">
		<i class="fa fa-arrow-circle-up"></i>
	</a>
</div>
